.trainers{
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:15px;

}
.trainer-card-link{
  text-decoration: none;
}
.trainer-card{
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 10px solid #EEBE5E;
  border-radius: 8px;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.trainer-card:hover {
  transform: rotateY(30deg);
}
.trainer-container{
  display: flex;
  justify-content: space-evenly;
}

.pokemon-catched{
  display: grid;
  flex: 0 0 50%;
  grid-template-columns: 1fr 1fr;
}

.pokeball-card{
  display: block;
  border: 10px solid #EEBE5E;
  background-color: #7AA2C3;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 48px;
  color: white;
}
.their-pokemon{
  position:absolute;
  right: 300px;
  bottom: 500px;
}
.btn-danger{
  color: white;
  font-weight: bolder;
}
